.section {
  background-color: color(gray, gallery);
  padding: 60px 0 75px;

  &__title {
    color: color(brown, old-copper);
    font-family: $font-title;
    font-size: 26px;
    font-weight: fw("medium");
    margin-bottom: 25px;

    @include media(">=desktop") {
      font-size: 38px;
    }

    &--center {
      text-align: center;
    }
  }

  &__content {
    p {
      color: color(brown, old-copper);
      font-family: $font-text;
      font-size: 16px;
      font-weight: fw("light");
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }

  .accordion {
    margin-bottom: 40px;
  }

  &--yellow {
    background-color: color(yellow, buttercup);

    .section__title,
    .section__content p {
      color: color(mono, white);
    }
  }

  &--purple {
    background-color: color(purple, purple-heart);

    .section__title,
    .section__content p {
      color: color(mono, white);
    }
  }
}